/* Global styles for reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for body to center the canvas */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for #canvas1 to center it on the screen */
#canvas1 {
    border: 5px solid rgb(57, 86, 171);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

/* Styling for #canvas1 to center it on the screen */
#canvas2 {
    border: 5px solid rgb(57, 86, 171);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

/* Styling for large centered title */
#gameTitle {
    font-size: 8em;  /* Large text size */
    color: rgb(57, 86, 171);  /* Matching the border color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Center the title within the canvas */
    margin: 0;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Libre Baskerville', serif;
    /*font-family: 'Avenir', 'Helvetica', 'Arial', sans-serif;  /* Font stack */
}

/* Styling for the letter 'i' */
.highlight-i {
    color: rgb(55, 180, 86);  /* Red color for the 'i' */
}

/* for import only*/
#balloon{
    display: none;
}